.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-flow: column;
}

.one {
  background-color: green;
  width: 20%;
  height: 10rem;
  color: green
}

.two {
  background-color: purple;
  width: 20%;
  height: 10rem;
  color: purple;
}

.three {
  background-color: yellow;
  width: 20%;
  height: 10rem;
  color: yellow;
  flex-grow: 2;
}



