* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  flex-flow: row;
}

.one {
  background-color: green;
  width: 20%;
  height: 10rem;
  color: green;
  margin-right: 1rem;
}

.two {
  background-color: yellow;
  width: 20%;
  height: 10rem;
  color: yellow;
  margin: 1rem;
}

.three {
  background-color: purple;
  width: 20%;
  height: 10rem;
  color: purple;
  margin: 1rem;
}

