* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(97, 95, 95);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  background: white;
  line-height: 3rem;
  border-radius: 14px;
}

h1 {
  color: rgb(122, 122, 122);
  font-size: 26px;
  text-align: center;
  margin-bottom: 1rem;
}

.bottom {
  margin-top: 2rem;
}


/* input, label {
  display: block;
}

label[for="showpwd"], input[type="checkbox"] {
  display: inline;
}

.main-text {
  padding-right: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

p {
  text-align: right;
}
*/

.btn {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 18px;
  display:inline-block;
  letter-spacing: 1px;
	cursor:pointer;
	color:black;
	font-size:12px;
	padding:12px 16px;
	text-decoration:none;
  text-align: center;
  background: rgb(58, 57, 57);
  width: 10vw;
  margin: 1rem;
  text-decoration: line-through;
}

.nodecoration {
  text-decoration: none;
  color: white;
}
/*
form {
  margin: 1rem 0;
}

input {
  height: 26px;
  width: 15rem;
  border-radius: 4px;
  border: 1px solid black;
}

input:focus {
  border: 2px solid green;
} */